:root{
    --color-gris: #30343F;
    --cor-de-link: #000;
    --inter:'Inter', sans-serif;;
    --raleway:'Raleway', sans-serif;
    --fondo-clarito:#EAF2FD;
    --color-azul:#3472c9;
}

section, nav{
    padding-left: calc((100% - 940px)/2);
    padding-right: calc((100% - 940px)/2);
}