/* BASE */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29, 132, 181, 0.9);
    --secondary-500: rgba(29, 132, 181, 0.5);
    --secondary-300: rgba(29, 132, 181, 0.3);

    --dark-solid: #1f1f1f;
    --dark-900: rgba(31, 31, 31, 0.9);
    --dark-500: rgba(31, 31, 31, 0.5);
    --dark-300: rgba(31, 31, 31, 0.3);

    --dark-bg-solid: #30343f;
    --dark-bg-900: rgba(79, 79, 79, 0.9);
    --dark-bg-500: rgba(79, 79, 79, 0.5);
    --dark-bg-300: rgba(79, 79, 79, 0.3);
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;
    
    /* Typography */
    --base-font: 'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /* Font-Sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;
    --font-xxsmall: 1.2em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}


/* RESET */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
    color: var(--dark-solid);
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

header,
footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul,
ol {
    list-style-type: none;
}

p {
    font-size: var(--font-medium);
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* HEADER */

.header {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-36);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    max-width: 300px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    gap: var(--spacing-20);
}

.navbar__item {
    position: relative;
}

.navbar__link {
    font-size: var(--font-medium);
    padding: var(--spacing-8) var(--spacing-16);
    display: inline-block;
    transition: background .3s ease-in-out;
}

.navbar__link:hover {
    background-color: var(--primary-900);
}

.whith-icon {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.whith-submenu:hover .submenu{
    display: block;
}
.submenu {
    position: absolute;
    width: 200px;
    background-color: var(--dark-bg-solid);
    display: none;
}

.submenu__link {
    display: block;
    padding: var(--spacing-8) var(--spacing-16);
    font-size: var(--font-medium);
    transition: background .3s ease-in-out;
}

.submenu__link:hover {
    background-color: var(--primary-900);
}


/* CONTACT MAIN */

.contact__main {
    display: flex;
    justify-content: space-between;
    padding: var(--spacing-68) var(--spacing-16);
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-16);
    width: 40%;
}

.contact__info {
    padding-right: var(--spacing-36);
}

.form__header {
    text-align: center;
    font-size: var(--font-jumbo);
    padding: var(--spacing-12) 0;
}

.form__item {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.item__label {
    font-size: var(--font-medium);
    font-weight: 600;
}

.item__input {
    font-family: var(--base-font);
    font-size: var(--font-medium);
    height: var(--spacing-36);
    color: var(--dark-500);
}

.item__textarea {
    font-family: var(--base-font);
    font-size: var(--font-medium);
    color: var(--dark-500);
}

.item__textarea:focus {
    height: var(--spacing-128);
}

.form__submit {
    display: flex;
    justify-content: center;
    padding-top: var(--spacing-20);
}

.submit__button {
    display: inline-block;
    background-color: var(--dark-bg-900);
    font-size: var(--font-xsmall);
    font-weight: 700;
    color: whitesmoke;
    padding: var(--spacing-12) var(--spacing-28);
    border-radius: 50px;
    transition: background .3s ease-in-out;
}

.submit__button:hover {
    background-color: var(--primary-solid);
    cursor: pointer;
}

.info__links {
    display: flex;
    gap: var(--spacing-16);
    padding: var(--spacing-28) 0;
}

.info__link {
    display: inline-block;
    transition: all .3s ease-in-out;
}

.info__link:hover {
    transform: scale(1.3);
}

.info__content {
    padding-bottom: var(--spacing-16);
}

.content__title {
    font-size: var(--font-large);
    padding: var(--spacing-12) 0;
}

.content__subtitle {
    font-size: var(--font-medium);
    color: var(--dark-500);
}

.info__subcontent {
    padding: var(--spacing-12) 0;
}

.content__data {
    color: var(--secondary-solid);
    font-weight: 500;
}


/* FOOTER */

.footer {
    background-color: var(--dark-bg-solid);
    padding: var(--spacing-68);
}

.footer__copy {
    text-align: center;
    margin-top: var(--spacing-36);
}