.main {
    padding: var(--spacing-36) 0;
    width: 1440px;
    height: 1000px;
}

h3 {
    font-size: var(--font-display);
}

.main__form{
    display:block;
    padding-top: var(--spacing-20);
    font-size: var(--font-medium);
}

.form__cat_lic {
    display: block;
}

.form__cat_lic_items {
    display: inline;
    gap: var(--spacing-36);
}

#categoria, #licencia, #cuotas {
    width: 244px;
    height: 44px;
    font-size: var(--font-xxsmall);
    margin: var(--spacing-16);
    border: 1px solid var(--dark-solid);
    border-radius: 6px;
    padding: 2px;
}

.form__nombre {
    display: inline;
    gap: var(--spacing-36);
    justify-content: center;
}

#nombre-producto, #cod, #Precio, #stock, #off {
    width: 350px;
    height: 35px;
    flex-shrink: 0;
    font-size: var(--font-xxsmall);
    margin: var(--spacing-8);
    border-style: none;
    position: relative bottom;
    border-bottom: 1px solid red;
    justify-content: center;
    text-align: center;
}

#description_text {
    width: 750px;
    height: 195px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--dark-bg-solid);
}

.form__sku_precio_stock, .form__decuento_cuotas {
    display: inline-flex;
    gap: var(--spacing-36);
    justify-content: center;
    align-items: center;
}

#cod, #Precio {
    width: 150px;
}
#stock, #off {
    width: 55px;
}

#cuotas{
    width: 345px;
}
.form__img{
    display: inline;
    gap: var(--spacing-8);
}
.form__img_charge{
    font-size: var(--font-xxsmall);
}

.form__imges{
    display: flex;
    gap: 30px;
}

.form__imges_items{
    display: block;
    margin-top: var(--spacing-20);
    margin-bottom: var(--spacing-20);
    text-align: center;    
}

.form__imges_items img {
    max-width: 150px;
    height: 173px;
    display: block;
    border-bottom: 1px solid red;
}

.form__imges_items p{
    margin-top: var(--spacing-8);
}

.form__button{
    width: 175px;
    height: 44px;
    border: none;
    color: var(--light-font-solid);
    font-size: 14px;
    background-color: var(--primary-solid);
}