.header{
    background-color: var(--color-gris);
    padding: 0 1rem;
}

.header__nav{
    height: 144px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav__ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.header__nav__ul--a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-family: var(--raleway);
}