/* BANNER */

.banner {
    background-image: url(../img/funkos-banner.webp);
    padding: var(--spacing-128);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    position: relative;
}

.banner::before {
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(2px) brightness(0.9);
    position: absolute;
    top: 0;
    left: 0;
}

.banner__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    align-items: start;
    position: relative;
    z-index: 2;
}

.banner__title {
    font-family: var(--alternative-font);
    font-weight: 700;
    font-size: var(--font-jumbo);
    color: var(--light-font-solid);
    text-transform: capitalize;
}

.banner__text {
    font-family: var(--alternative-font);
    font-weight: 400;
    font-size: var(--font-medium);
    color: var(--light-font-solid);
}

.banner__link {
    font-size: var(--font-medium-20);
    font-weight: 500;
    background-color: var(--light-bg-solid);
    border-radius: 50px;
    padding: var(--spacing-12) var(--spacing-68);
    transition: all .3s ease-in-out;
    margin-top: var(--spacing-38);
}

.banner__link:hover {
    background-color: var(--primary-900);
    color: var(--light-font-solid);
}



/* COLLECTIONS */

.home__main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-68);
}

.collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.collection__info {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-24);
    align-items: start;
}

.collection__title {
    font-family: var(--alternative-font);
    font-weight: 500;
    font-size: var(--font-display);
    text-transform: uppercase;
}

.collection__text {
    font-family: var(--alternative-font);
    font-weight: 400;
    font-size: var(--font-large);
    border-bottom: 3px solid var(--primary-solid);
    padding-bottom: var(--spacing-20);
}

.collection__link {
    background-color: var(--dark-bg-solid);
    color: var(--light-font-solid);
    font-weight: 500;
    font-size: var(--font-large);
    padding: var(--spacing-20) var(--spacing-52);
    border-radius: 50px;
    text-transform: uppercase;
    margin-top: var(--spacing-24);
    transition: background .3s ease-in-out;
}

.collection__link:hover {
    background-color: var(--primary-900);
}

.collection:nth-child(2) .collection__cover {
    order: -1;
}
