.slider {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-52);
    margin-bottom: var(--spacing-128);
    margin-top: var(--spacing-20);
}

.slider__title {
    font-family: var(--alternative-font);
    font-size: var(--font-display);
    font-weight: 700;
    text-transform: uppercase;
}

.glide__arrow--chevron {
    color: var(--dark-bg-solid);
    font-size: var(--font-small);
    font-weight: 700;
}

.glide__arrow--left {
    left: 0;
    padding: var(--spacing-8);
    transition: background .3s ease-in-out;
}

.glide__arrow--right {
    right: 0;
    padding: var(--spacing-8);
    transition: background .3s ease-in-out;
}

.glide__arrow--right:hover {
    background-color: var(--secondary-300);
}

.glide__arrow--left:hover {
    background-color: var(--secondary-300);
}