.quantity__value {
  position: relative;
}

.quantity__value input {
  appearance: textfield;
  font-family: var(--base-font);
  width: 10.7rem;
  height: 3.8rem;
  text-align: center;
  display: block;
  float: left;
  border: 0.5px solid #c9c9c9;
  font-size: 2.8em;
  color: var(--grey-solid);
}

.quantity__value input:focus {
  outline: 0;
}

.quantity__value button {
  position: absolute;
  padding-bottom: .1em;
  cursor: pointer;
  width: 2rem;
  height: 45%;
  text-align: center;
  font-size: 1.8em;
  font-weight: 400;
  color: var(--light-font-solid);
  background-color: #4F4F4F;
  border: none;
  line-height: 0.8;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  right: -5rem;
}

.add {
  top: 0;
}

.subtract {
  bottom: 0;
}