.form__imges{
    display: flex;
    gap: 30px;
}

.form__imges_items{
    display: block;
    margin-top: var(--spacing-20);
    margin-bottom: var(--spacing-20);
    text-align: center;    
}

.form__imges_items-img{
    max-width: 150px;
    height: 173px;
    display: block;
    border-bottom: 1px solid red;
}