<section class="banner">
  <article class="banner__content container">
    <h3 class="banner__title"><%= banner-title %></h3>
    <p class="banner__text"><%= banner-text%></p>
    <a class="banner__link" href="/shop"><%= link-text %></a>
  </article>
</section>
