<section class="banner">
  <article class="banner__content container">
    <h3 class="banner__title"><%= banner_title %></h3>
    <p class="banner__text"><%= banner_text%></p>
    <a class="banner__link" href="/shop"><%= banner_link_text %></a>
  </article>
</section>
