<header class="header">
  <nav class="navbar container">
    <picture class="navbar__logo">
      <a href="/home">
        <img
          src="/img/branding/logo_light_horizontal.svg"
          alt="Logo Funkoshop"
        />
      </a>
    </picture>
    <ul class="navbar__menu">
      <li class="navbar__item">
        <a class="navbar__link" href="/shop">Ver tienda</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/admin">admin</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/auth/login">salir</a>
      </li>
    </ul>
  </nav>
</header>
