<header class="header">
  <nav class="navbar container">
    <picture class="navbar__logo">
      <a href="/home">
        <img src="/img/branding/logo_light_horizontal.svg" alt="Logo Funkoshop" />
      </a>
    </picture>
    <ul class="navbar__menu">
      <li class="navbar__item whith-submenu">
        <a class="navbar__link whith-icon" href="/shop">SHOP<iconify-icon icon="tabler:chevron-down"></iconify-icon></a>
        <ul class="submenu">

          <% submenu_data.forEach(category => { %>
          <li class="submenu__item">
            <a href="/shop/category/<%= category.category_name %>" class="submenu__link"><%= category.category_name %></a>
          </li>
          <% }) %>

        </ul>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/contact">CONTACTO</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" href="/auth/login">LOGIN</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__cart" href="/shop/cart">
          <img src="/img/icons/cart-icon.svg" alt="Icono Carrito" />
        </a>
      </li>
    </ul>
  </nav>
</header>