.card-item__cover {
    display: flex;
    position: relative;
}

.card-item__cover img {
    animation: fade .7s;
}

.card-item__img--back {
    display: none;
}

.card-item__cover:hover .card-item__img--front {
    display: none;
}

.card-item__cover:hover .card-item__img--back {
    display: block;
}

.card-item__tag {
    font-size: var(--font-xsmall);
    font-weight: 500;
    text-transform: uppercase;
    background-color: var(--primary-solid);
    color: var(--light-font-solid);
    padding: var(--spacing-8) var(--spacing-16);
    position: absolute;
    right: 0;
}

.card-item__content {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-12);
    padding: var(--spacing-16);
}

.card-item__collection {
    font-size: var(--font-xsmall);
    font-weight: 500;
    color: var(--dark-900);
}

.card-item__name {
    font-size: var(--font-medium);
    font-weight: 700;
}

.card-item__price {
    color: var(--dark-900);
    font-size: var(--font-small);
    font-weight: 400;
}

.card-item__promo {
    color: var(--secondary-solid);
    font-size: var(--font-xxsmall);
    font-weight: 700;
}